<section>
  <div class="container">
    <div class="">
    <div class="calltoaction center-align ">
      <a class="waves-effect waves-light btn-large blue darken-1 modal-trigger" href="#modal1">SEARCH ARTIST</a>
      
  </div>
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="center-align">SEARCH ARTIST</h4>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="first_name" type="text" class="validate">
            <label for="first_name">Name</label>
          </div>
          <div class="input-field col s12">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">No of Tracks</label>
          </div>
        </div>
        <a routerLink="/artistlist" class="modal-close waves-effect waves-light white-text blue darken-1 waves-green btn-flat center-align">SEARCH</a>
        </form>
    </div>
    
  </div>
  </div>
</div>
</section>