<div class="container">
  <div class="card">
    <div class="row">
      <div class="col s12">
        <ul class="tabs blue-text">
          <li class="tab col s3"><a class="active" href="#test1">Jack 1</a></li>
          <li class="tab col s3"><a  href="#test2">Jack 2</a></li>
          <li class="tab col s3"><a href="#test3">Jack 3</a></li>
          <li class="tab col s3"><a href="#test4">Jack 4</a></li>
        </ul>
      </div>
      <div id="test1" class="col s12">
        <div class="container">

          <span>Artist: Jack Dolittle</span><br><br>
          <span>Track: Jack Reacher Theme</span>
        </div>
        
      </div>
      <div id="test2" class="col s12">
        <div class="container">
          <span>Artist: Jack Dolittle</span><br><br>
        <span>Track: Jack Reacher Theme</span>
        </div>
      </div>
      <div id="test3" class="col s12">
        <div class="container">
          <span>Artist: Jack Dolittle</span><br><br>
        <span>Track: Jack Reacher Theme</span>
        </div>
      </div>
      <div id="test4" class="col s12">
        <div class="container">
          <span>Artist: Jack Dolittle</span><br><br>
        <span>Track: Jack Reacher Theme</span>
        </div>
      </div>
    </div>
  </div>
  
</div>